@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --link-emms: #4ccab8;
  --hover-link-emms: #219584;
  --violet-emms: #3f0453;
  --grey-emms: #333333;
  --violet-back-emms: #1c0329;
  --h1-emms: #fab221;
}

body {
  background-color: var(--violet-back-emms);
}

.dp-library .dp-container .dp-rowflex .admin-container {
  text-align: center;
}

.logoD {
  width: 90px;
  height: 90px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 6px 3px 5px rgb(255 0 0 / 20%);
  border-radius: 50%;
}

.dp-library .dp-container .dp-rowflex .admin-container h1 {
  display: inline-block;
  font-family: Helvetica, sans-serif;
  color: var(--h1-emms);
  padding-bottom: 15px;
  font-size: 69px;
  margin: 30px 15px 20px 0px;
  text-shadow: 6px 6px 0px rgb(255 0 0 / 20%);
}

.dp-library #repo .dp-rowflex .admin-container {
  text-align: -webkit-center;
}

.dp-library #repo .dp-rowflex .admin-container h1 {
  display: inline-block;
  font-family: Helvetica, sans-serif;
  color: var(--h1-emms);
  padding-bottom: 15px;
  font-size: 30px;
  margin: 30px 15px 20px 0px;
  text-shadow: 6px 6px 0px rgb(255 0 0 / 20%);
}

.dp-library #repo .dp-rowflex .admin-container .logoD {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 6px 3px 5px rgb(255 0 0 / 20%);
  border-radius: 50%;
}

.dp-library .dp-container .dp-rowflex .admin-container .instance-container {
  text-align: center;
  width: 400px;
  height: 500px;
  background: #481961;
  box-shadow: 5px 5px 3px #000000;
  border-radius: 14px;
  margin: 0 auto;
  padding: 20px 0px;
  color: white;
}

.dp-library .dp-container .dp-rowflex .admin-container #id-setting {
  height: 400px;
  width: 300px;
  margin-top: 110px;
}
.dp-rowflex .admin-container #id-setting input {
  margin: 10px 20px;
  width: 80%;
}

.dp-library .dp-container input[type="checkbox"] {
  position: initial;
}
.dp-library .dp-container .form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dp-library .dp-container .form label {
  color: white;
}

.wrapper .option {
  background: var(--link-emms);
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid var(--link-emms);
  transition: all 0.3s ease;
}

.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: var(--h1-emms);
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: var(--violet-back-emms);
  background: var(--hover-link-emms);
}

#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot {
  background: #fff;
}

#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper .option span {
  font-size: 20px;
  color: #808080;
}

#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span {
  color: var(--violet-back-emms);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-send {
  margin-top: 10px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: var(--violet-back-emms);
  background: white;
  border: 2px solid var(--violet-back-emms);
  box-shadow: 5px 5px 0 var(--violet-back-emms),
    -5px -5px 0 var(--violet-back-emms), -5px 5px 0 var(--violet-back-emms),
    5px -5px 0 var(--violet-back-emms);
  transition: 500ms ease-in-out;
}

.btn-send:hover {
  box-shadow: 20px 5px 0 var(--violet-back-emms),
    -20px -5px 0 var(--violet-back-emms);
}

.btn-send:focus {
  outline: none;
}

.float {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 140px;
  left: 50px;
  background-color: var(--violet-emms);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 5px 5px 3px #000000;
  z-index: 15;
}

.country {
  color: wheat;
  text-align: left;
  margin-top: 20px;
}

.utm {
  color: white;
  text-align: left;
  padding-left: 100px;
}

.report-container {
  width: 400px;
}

.img-report {
  width: 40px;
  height: 40px;
  margin: 15px 0px 0px 5px;
}

.dp-library .dp-container h3 {
  color: white;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .float {
    position: fixed;
    width: 70px;
    height: 70px;
    top: 20px;
    right: 50px;
    left: unset;
  }
}

@media only screen and (min-width: 600px) {
  .float {
    position: fixed;
    width: 70px;
    height: 70px;
    top: 20px;
    right: 50px;
    left: unset;
  }
}

@media only screen and (min-width: 768px) {
  .float {
    top: unset;
    right: unset;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 140px;
    left: 50px;
  }
}

.background {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.background h4 {
  color: var(--violet-back-emms);
  font-weight: bold;
  font-family: roboto;
  text-align: center;
}

.background::before {
  display: block;
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  height: 450px;
  background: #eee8e0;
  border-radius: 50%;
  z-index: -1;
}

.background::after {
  display: block;
  content: "";
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  height: 550px;
  background: #f3f2ee;
  border-radius: 50%;
  z-index: -2;
}

.door {
  position: relative;
  width: 180px;
  height: 300px;
  margin: 0 auto -10px;
  background: #f3f2ee;
  border: 10px solid #dad2c9;
  border-radius: 3px;
  font-size: 44px;
  line-height: 1;
  text-align: center;
  text-shadow: 0 2px #f5ae4e;
}

.door::before {
  display: block;
  content: "";
  position: absolute;
  top: 140px;
  right: 10px;
  width: 25px;
  height: 25px;
  background: #1d2528;
  border-radius: 50%;
}

.door::after {
  display: block;
  content: "";
  position: absolute;
  top: 148px;
  right: 18px;
  width: 35px;
  height: 10px;
  background: #49555b;
  border-radius: 5px;
}

.rug {
  width: 180px;
  border-bottom: 120px solid #cf352c;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.rug::before {
  display: block;
  content: "";
  position: relative;
  width: 100%;
  height: 10px;
  background: #9c0502;
}

.foreground {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.bouncer {
  position: relative;
  left: -130px;
  transition: left 1.5s;
}

.bouncer .head {
  position: relative;
  left: 10px;
  margin-bottom: 10px;
  width: 65px;
  height: 90px;
  background: #ffb482;
  border-radius: 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.bouncer .head::before {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 55px;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 15px;
  z-index: 10;
}

.bouncer .head .neck {
  position: absolute;
  bottom: -15px;
  width: 48px;
  height: 30px;
  background: #ffb482;
  z-index: 5;
}

.bouncer .head .neck::before {
  display: block;
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid transparent;
}

.bouncer .head .eye {
  position: absolute;
  top: 40px;
  width: 5px;
  height: 5px;
  background: #1d2528;
  border-radius: 50%;
}

.bouncer .head .eye.left {
  right: 5px;
}

.bouncer .head .eye.right {
  right: 30px;
}

.bouncer .head .eye::before {
  display: block;
  content: "";
  position: relative;
  bottom: 8px;
  right: 5px;
  width: 15px;
  height: 5px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: bottom 0.5s;
}

.bouncer .head .ear {
  position: relative;
  top: 40px;
  left: -10px;
  width: 20px;
  height: 20px;
  background: #ffb482;
  border-radius: 50%;
}

.bouncer .head .ear::before {
  display: block;
  content: "";
  position: relative;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}

.bouncer .head .ear::after {
  display: block;
  content: "";
  position: relative;
  top: -3px;
  left: 10px;
  width: 10px;
  height: 55px;
  border-top: 3px solid transparent;
  border-left: 2px solid #fff;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  transform: rotate(-10deg);
  z-index: 10;
}

.bouncer .body {
  position: relative;
  width: 110px;
  height: 270px;
  background: #1d2528;
  border-top-right-radius: 45px;
  border-top-left-radius: 15px;
}

.bouncer .body::before {
  display: block;
  content: "";
  position: relative;
  top: 5px;
  width: 104px;
  height: 110px;
  background: #fff;
  border-top-right-radius: 42px;
}

.bouncer .body::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 75px;
  height: 180px;
  background: #38434a;
  border-top-right-radius: 42px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 10px;
  z-index: 15;
}

.bouncer .arm {
  position: absolute;
  top: 105px;
  left: -20px;
  width: 60px;
  height: 230px;
  background: #49555b;
  border-radius: 30px;
  box-shadow: -1px 0px #1d2528;
  transform: rotate(-30deg);
  transform-origin: top center;
  z-index: 20;
  transition: transform 1s;
}

.bouncer .arm::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background: #ffb482;
  border-radius: 50%;
}

.poles {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-25%);
}

.poles .pole {
  position: absolute;
  bottom: 0;
  width: 15px;
  height: 135px;
  background: #f5ae4e;
}

.poles .pole.left {
  left: 200px;
}

.poles .pole.right {
  right: 200px;
}

.poles .pole::before {
  display: block;
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  background: #f5ae4e;
  border-radius: 50%;
  box-shadow: inset 0 -2px #df9d41;
}

.poles .pole::after {
  display: block;
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 4px;
  background: #f5ae4e;
  border-radius: 4px;
  box-shadow: 0 2px #df9d41;
}

.poles .rope {
  position: absolute;
  top: -110px;
  left: -218px;
  width: 150px;
  height: 75px;
  border: 20px solid #cf352c;
  border-top: 0;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  box-shadow: 0 2px #9c0502;
  box-sizing: border-box;
  transition: width 1.5s;
}

.hover:hover .bouncer {
  left: 130px;
}

.hover:hover .arm {
  transform: rotate(-42deg);
}

.hover:hover .rope {
  width: 435px;
}

.hover:hover .eye::before {
  bottom: 4px;
}

/*SIMULADOR*/

.simulator .wrapper input[type="radio"] {
  display: block;
  height: 20px;
  margin-bottom: 20px;
}

.simulator .wrapper input[type="checkbox"] {
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.simulator .wrapper input[type="text"] {
  width: 70%;
  margin-bottom: 20px;
}

.simulator .wrapper h2 {
  color: white;
  margin-bottom: 20px;
}
.simulator .wrapper label {
  margin-bottom: 20px;
}
#id-simulator {
  height: 650px;
  width: 300px;
  margin-top: 110px;
}

.simulator .wrapper {
  height: 650px;
}
