.footer-post-container-fluid {
	background-color: #F6F6F6;
	text-align: center;
}

.footer-post-container {
	padding-top: 55px;
	padding-bottom: 108px;
}

.footer-post-container h2 {
	font-weight: normal;
	font-size: 22px;
	line-height: 32px;
	color: #302100;
}

.footer-post-container img {
	width: 192px;
	height: 44px;
	margin-left: 10px;
}

.footer-post-container p {
	font-weight: normal;
	font-size: 22px;
	line-height: 32px;
	color: var(--grey-emms);
	max-width: 516px;
	margin: 0 auto;
}

.footer-post-container button {
	background: var(--link-emms);
	border-radius: 3px;
	width: 298px;
	height: 63px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #1C0329;
	margin-top: 36px;
}

@media only screen and (max-width: 600px) {
	#footer-index-post .footer-index-container h3 {
		font-size: 34px;
		line-height: 39px;
	}
}

@media only screen and (min-width: 600px) {
	#footer-index-post .footer-index-container h3 {
		font-size: 34px;
		line-height: 39px;
	}
}

@media only screen and (min-width: 768px) {
	#footer-index-post .footer-index-container h3 {
		font-size: 34px;
		line-height: 39px;
	}
}

@media only screen and (min-width: 992px) {
	#footer-index-post .footer-index-container h3 {
		font-size: 44px;
		line-height: 48px;
	}
}

@media only screen and (min-width: 1200px) {}