.speakers-post {
	background-color: #170520;
}

.speaker-post-container {
	padding-top: 160px;
}

.speaker-post-container h1 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	line-height: 39px;
	color: var(--h1-emms);
}

.speaker-post-container.timash h1 {
	max-width: 886px;
}

.speaker-post-container.ricardo h1 {
	max-width: 946px;
}

.speaker-post-container.paola h1 {
	max-width: 942px;
}


.speaker-post-container .video-speaker-container {
	width: 943px;
	height: 519px;
}

.speaker-post-container .video-speaker-container .form-post-container {
	width: 100%;
	height: 100%;
	background-color: #481961;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
	border-radius: 14px;
}

.speaker-info-post {
	padding: 60px;
	padding-right: 0px;
	color: #FFFFFF;
}

.speaker-info-post h5 {
	font-weight: bold;
	font-size: 22px;
	line-height: 33px;
	color: #FFFFFF;
	text-transform: unset;
}

.speaker-info-post p {
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: unset;
}

.speaker-redes-post {
	padding-top: 25px;
}

.speaker-redes-post a {
	display: inline;
	padding-left: 9px;
}

.speaker-redes-post img {
	width: 25px;
	height: 25px;
}

.speaker-post-share {
	padding-top: 50px;
}

.speaker-post-share p {
	display: inline;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	margin-right: 25px;

}

.speaker-post-share a {
	width: 30px;
	height: 18px;
}


.speaker-post-share img {
	width: 30px;
	height: 18px;
	margin-right: 12px;
}

.speakers-post .carousel-container {
	width: 779px;
}

.mobile-speakers {
	margin: 0 auto;
	text-align: center;
}

.carousel-container h2, .mobile-speakers h2 {
	font-weight: bold;
	font-size: 34px;
	line-height: 39px;
	text-align: center;
	color: var(--h1-emms);
	margin-top: 80px;
}

.form-post-container .inputs-container {
	padding: 20px 50px 50px 50px;
}

.form-post-container .legal-post-container {
	padding: 41px 50px 50px 0px;

}

.dp-library .form-post-container label {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
}

.dp-library .form-post-container .legal-post-container label {
	font-weight: normal;
	font-size: 10px;
	line-height: 10px;
}

.dp-library .form-post-container .legal-post-container button {
	width: 100%;
	background-color: var(--link-emms);
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	color: var(--violet-cta);
	margin: 10px 0px;
}

.dp-library .form-post-container .legal-post-container button:hover {
	background-color: var(--hover-link-emms);

}

.legal-post-container .legal-form-container {
	padding: 32px 0px 64px 0px;
}

.legal-post-container .legal-form-container p {
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 17px;
	color: #FFFFFF;
}

.legal-post-container .legal-form-container p span {
	margin-bottom: 20px;
}

.form-post-container .required-label:after {
	content: ' *';
}

.dp-library .form-post-container .field-group .field-item {
	margin-bottom: 19px;
}

.speaker-post-container .speaker-shadow .speaker-footer {
	height: 123px;
}

.speaker-col .speaker-footer .speaker-footer-info {
	padding-bottom: 15px;
}

.speaker-post-container .speaker .seniority {
	padding: 19px 14px 12px 19px;
}

.speaker-title-registered {
	display: inline;
}

.speaker-title-not-registered {
	display: none;
}

.title-checker {
	font-size: 33px;
}

.title-checker .speaker-title-registered {
	display: none;
}

.title-checker .speaker-title-not-registered {
	display: inline;
}

.speaker-post-container .video-speaker-container.form--state {
	height: auto;
}

/* MEDIA's */
@media only screen and (max-width: 600px) {

	.footer-post-container h2 {
		font-size: 19px;
	}

	.mobile-speakers h2 {
		font-size: 25px;
		line-height: 28px;
	}

	.footer-post-container img {
		width: 150px;
		height: 34px;
		margin-left: 0px;
	}

	.footer-post-container p {
		margin-top: 10px;
	}

	.speaker-post-container .speaker-shadow .speaker-footer {
		height: 150px;
	}

	.speaker-post-container {
		padding-top: 30px;
	}

	.speaker-post-container h1 {
		font-size: 24px;
		line-height: 29px;
		padding-left: 23px;
	}

	.inner-carousel .speaker-footer {
		height: 147px;
	}

	.form-post-container .inputs-container {
		padding: 20px 28px 50px 28px;
	}

	.form-post-container .legal-post-container {
		padding: 35px;
	}

	.speaker-post-container .video-speaker-container {
		width: 100%;
		height: 208px;
	}


	.speaker-info-post {
		padding: 30px 20px 0px 20px;
	}

	.speaker-post-share {
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-flow: column;
	}

	.speaker-post-share p {
		display: block;
	}

	.speaker-post-share .share-social-container {
		margin-top: 20px;
		display: block;
	}

	.form-post-container .inputs-container {
		padding-bottom: 0px;
	}
}

@media only screen and (min-width: 600px) {

	.footer-post-container h2 {
		font-size: 19px;
	}

	.mobile-speakers h2 {
		font-size: 25px;
		line-height: 28px;
	}

	.footer-post-container p {
		margin-top: 10px;
	}


	.speaker-post-container .speaker-shadow .speaker-footer {
		height: 150px;
	}

	.speaker-post-container h1 {
		font-size: 24px;
		line-height: 29px;
		padding-left: 23px;
	}

	.speaker-post-container {
		padding-top: 30px;
	}

	.inner-carousel .speaker-footer {
		height: 147px;
	}

	.form-post-container .inputs-container {
		padding: 20px 50px 50px 50px;
	}

	.form-post-container .legal-post-container {
		padding: 50px;
	}

	.speaker-post-container .video-speaker-container {
		width: 100%;
		height: 319px;
	}



	.speaker-info-post {
		padding: 30px 20px 0px 20px;
	}



	.speaker-post-share {
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-flow: column;
	}

	.speaker-post-share p {
		display: block;
	}

	.speaker-post-share .share-social-container {
		margin-top: 20px;
		display: block;
	}

	.form-post-container .inputs-container {
		padding-bottom: 0px;
	}

}



@media only screen and (min-width: 768px) {

	.footer-post-container p {
		margin-top: 10px;
	}


	.footer-post-container h2 {
		font-size: 22px;
	}

	.mobile-speakers h2 {
		font-size: 34px;
		line-height: 39px
	}

	.speaker-post-container .speaker-shadow .speaker-footer {
		height: 150px;
	}

	.speaker-post-container h1 {
		font-size: 34px;
		line-height: 39px;
		padding-left: 0px;
	}

	.speaker-post-container {
		padding-top: 120px;
	}

	.inner-carousel .speaker-footer {
		height: 147px;
	}


	.dp-library .dp-container .speakers-display .speaker-col {
		display: flex;
	}

	.speaker-post-container .video-speaker-container {
		width: 100%;
		height: 369px;
	}

	.speaker-info-post {
		padding: 50px 20px 0px 20px;
	}


	.speaker-info-post p {
		max-width: 950px;
	}

	.form-post-container .legal-post-container {
		padding: 40px;
	}

	.speaker-post-share p {
		display: block;
		flex-direction: column;
	}

	.speaker-post-share .share-social-container {
		display: block;
		flex-direction: column;
	}

	.speaker-post-share .share-social-container a:hover,
	.speaker-redes-post a:hover {
		opacity: 0.5;
	}

	.speaker-post-share {
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-flow: column;
	}

	.speaker-post-share p {
		display: block;
	}

	.speaker-post-share .share-social-container {
		margin-top: 20px;
		display: block;
	}

	.form-post-container .inputs-container {
		padding-bottom: 0px;
	}

	.dp--center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

}

@media screen and (min-width: 768px) {
	.speaker-post-container h1 {
		margin: 0 auto;
	}
}

@media only screen and (min-width: 992px) {



	.footer-post-container p {
		margin-top: 0px;
	}


	.speaker-post-container .speaker-shadow .speaker-footer {
		height: 123px;
	}

	.speaker-post-container {
		padding-top: 160px;
	}

	.speaker-post-container .video-speaker-container {
		width: 943px;
		height: 519px;
	}

	.speaker-info-post {
		padding: 50px 0px 0px 0px;
	}

	.speaker-info-post p {
		max-width: 950px;
	}

	.dp--center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.speaker-post-share {
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-flow: column;
	}

	.speaker-post-share p {
		display: block;
	}
}

@media only screen and (min-width: 1260px) {

	.speaker-post-share {
		display: block;
		text-align: left;
	}

	.speaker-post-share p {
		display: inline;
	}

	.speaker-post-share .share-social-container {
		display: inline;
		vertical-align: middle;
	}


	.speaker-post-container {
		padding-top: 160px;
	}

	.dp-none-desktop {
		display: none;
	}

	.speaker-info-post {
		padding: 50px 0px 50px 15px;
	}


	.speaker-post-container .video-speaker-container {
		width: 943px;
		height: 519px;
	}

	.speaker-post-container h1 {
		margin: 0;
	}
}

@media only screen and (min-width: 1400px) {

	.speaker-post-container h1 {
		margin: unset;
	}

	.dp-none-desktop {
		display: none;
	}

	.speaker-info-post {
		padding: 60px 0px 60px 48px;
	}


	.speaker-post-container .video-speaker-container {
		width: 943px;
		height: 519px;
	}
}